#root {
  color: rgb(16, 4, 66);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
/* Search bar */

.search-bar-root {
  margin: 2rem 0 2rem 0.3rem;
}

.search-query {
  margin-left: 2rem;
  width: 14rem;
  padding: 14px;
  font-size: 18px;
  border: 1.5px solid rgb(141, 124, 124);
  border-radius: 5px;
}

.search-bar-root > p {
  display: inline;
  margin: 2rem;
  padding-right: 5rem;
}


/* Select dropdown menu */
.select-query {
  width: 16rem;
  padding: 14px;
  font-size: 18px;
  border: 1.5px solid black;
  border-radius: 5px;
}

.select-query-show {
  margin-right: 2rem;
}

/* Card body */
.card {
  width: 30%;
  border: 1.5px solid #000;
  flex-grow: 1;
  min-height: 100px;
  box-sizing: border-box;
  margin: 0 5px 10px;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
}

.card > h1 {
  font-size: 24px;
  letter-spacing: 1px;
  height: 2rem;
  margin: 2rem;
}

.card > img {
  border: 0.5rem solid black;
  margin-top: 1rem;
  border-radius: 5px;
  width: 70%;
}

.card-body > p {
  text-align: justify;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-top: 1rem;
  padding: 4rem;
}